* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Outfit", sans-serif;
    background: #cce7f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.qr-code img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.card {
    background-color: #f5f5f5;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}


.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.text p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

.text h2 {
    color: hsla(210, 67%, 1%, 1.00);
    font-size: 18px;
}

